@import '../breakpoints';

#about {
  background: url('../../assets/images/purple-2-bg.jpg');
}

.about-icon {
  font-size: 30rem;
  color: var(--white-color);
}

.about-info {
  h1 {
    color: var(--tertiary-color);
    font-weight: 700;
    text-decoration: solid;
  }
  p {
    color: var(--white-color);
    font-weight: 700;
    text-align: justify;
  }
}

.about-info .form {
  h2 {
    color: var(--tertiary-color);
    font-weight: 700;
  }

  span {
    color: var(--gray-light-color);
    font-weight: 700;
    text-align: center;
  }
}

.btn-knowMore {
  padding: 3% 8%;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;

  border-radius: 60px;
  border: 3px solid var(--primary-color);
  background: var(--white-color);

  transition: all 0.5s;

  &:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
}

@include media-breakdown-below(md) {
  .btn-knowMore {
    font-size: 3.2rem;
  }
}
