@import '../breakpoints';

#academic {
  background-color: var(--white-color);
}

.academic-cards-container {
  .academic-title {
    font-weight: 700;
    font-size: 3.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
  }
}

.card-body {
  text-align: start;

  .card-title {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  .container {
    .card-subtitle-wrapper {
      .card-subtitle {
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--gray-color);
      }
      i {
        font-size: 2.6rem;
        color: var(--primary-color);
      }
    }
  }
  .card-text {
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-color);
  }
}

.card .card-img-top {
  object-fit: fill;
}

// responsive layout
@include media-breakdown-below(md) {
  .card-body .card-title {
    font-size: 2.6rem;
  }
  .card-subtitle {
    font-size: 1rem;
  }
}
