#portfolio {
  height: 100vh;
  width: 100%;
}

#portfolio .portfolio-title {
  font-size: 3.8rem;
  color: var(--primary-color);
}

// Card
.project-card {
  cursor: pointer;
  transition: all 0.5s;

  background-color: var(--primary-color);
  //   box-shadow: 0 0 10px var(--black-color);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--black-color);
  }
}

.card-title-container {
  background-color: var(--white-color);
  h1 {
    color: var(--secondary-color);
  }
  h2 {
    color: var(--gray-color);
  }
}

.tech-box a {
  color: var(--black-color);
  text-decoration: none;

  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

// Modal
.modal-header {
  background-color: var(--primary-color);
  .modal-title {
    color: var(--white-color);
  }

  .btn-close {
    color: var(--white-color);
  }
}

.tech-container .bx {
  font-size: 5rem;
  color: var(--secondary-color);
}

.techs-title,
.know-more-title {
  background-color: var(--primary-color);
}

.know-more-icons a i {
  font-size: 4rem;
  color: var(--primary-color);
  transition: all 0.5s;

  &:hover {
    color: var(--secondary-color);
  }
}

@media (max-width: 960px) {
  #portfolio {
    height: 150vh;
  }
}
