.professional-section {
  background: url('../../assets/images/purple-bg.jpg');
}

.title-container h1 {
  font-size: 3.8rem;
  color: var(--white-color);
}
.card {
  overflow: hidden;
}

// carousel indicators control icon
#profissionalCarousel .carousel-control-next-icon,
#profissionalCarousel .carousel-control-prev-icon {
  background: none;
}

#profissionalCarousel .carousel-control-prev-icon .carousel-prev-icon,
#profissionalCarousel .carousel-control-next-icon .carousel-next-icon {
  font-size: 4rem;
  font-weight: 700;
}
