#navBar {
  transition: all 0.5s;
}

// Change color on scroll
.nav-bar-active {
  background-color: var(--primary-color);
  .container {
    color: var(--white-color);
  }
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 3.2rem;
}

.navbar-nav .nav-link {
  color: var(--black-color);
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}
