:root {
  /* Colors */
  --primary-color: #715aff;
  --secondary-color: #502ea3;
  --white-color: #ffffff;
  --black-color: #000;
  --gray-color: #848482;

  /* Font */
  --font-base: "Poppins", sans-serif;
}
