:root {
  /* Colors */
  --primary-color: #715aff;
  --secondary-color: #502ea3;
  --tertiary-color: #d9ca18;
  --white-color: #ffffff;
  --black-color: #000;
  --gray-color: #848482;
  --gray-light-color: #cecece;

  // shadow color
  --black-shadow-color: rgb(0, 0, 0, 0.5);

  /* Font */
  --font-base: 'Poppins', sans-serif;
}
