.form-msg-navbar .container {
  a {
    i {
      transition: all 0.5s;
    }

    &:hover {
      i {
        color: var(--primary-color);
      }
    }
  }
  h1 {
    font-size: 2.8rem;
  }
}

.header-btn {
  i,
  span {
    font-size: 2.4rem;
  }
}

.main-content {
  position: relative;
}

#clearForm .modal-header {
  .modal-title {
    font-size: 2.2rem;
  }
}

#clearForm .modal-body p {
  font-size: 1.8rem;
}

#clearForm .modal-footer button {
  font-size: 1.6rem;
}

#cardsContainer .no-message-title {
  font-size: 2.2rem;
  color: var(--gray-color);
  text-align: center;
}

.speeddial {
  position: absolute;
  bottom: 10%;
  right: 10%;

  height: 6rem;
  width: 6rem;

  i {
    font-size: 3.2rem;
  }
}

@media (max-width: 576px) {
  .form-msg-navbar .container {
    h1 {
      font-size: 2.2rem;
    }
  }
}
