.form-msg-navbar .container {
  a {
    i {
      transition: all 0.5s;
    }

    &:hover {
      i {
        color: var(--primary-color);
      }
    }
  }
  h1 {
    font-size: 2.8rem;
  }
}

.header-btn {
  i,
  span {
    font-size: 2.4rem;
  }
}

.main-content {
  position: relative;
}

#clearForm .modal-header {
  .modal-title {
    font-size: 2.2rem;
  }
}

#clearForm .modal-body p {
  font-size: 1.8rem;
}

#clearForm .modal-footer button {
  font-size: 1.6rem;
}

#cardsContainer {
  height: 80%;
}

#cardsContainer .no-message-title {
  font-size: 2.2rem;
  color: var(--gray-color);
  text-align: center;
}

#cardsContainer .message-card {
  .card-header {
    border-bottom: 1px solid var(--secondary-color);

    .card-header-title {
      font-size: 2.8rem;
      color: var(--secondary-color);
    }
  }

  .card-body .card-body-text {
    font-size: 2rem;
    color: var(--black-color);
    text-align: justify;
  }
}

.speeddial {
  position: absolute;
  bottom: 5%;
  right: 5%;

  height: 6rem;
  width: 6rem;

  i {
    font-size: 3.2rem;
  }
}

@media (max-width: 768px) {
  .form-msg-navbar .container {
    h1 {
      font-size: 2.2rem;
    }
  }
  #cardsContainer .message-card {
    .card-body {
      overflow-y: scroll;
    }

    .card-body .card-body-text {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 576px) {
  #cardsContainer .message-card {
    .card-body .card-body-text {
      font-size: 1.4rem;
    }
  }
}
